/* Global */
img {
  object-fit: cover;
}

.evolution {
  justify-content: center !important;
  display: flex !important;
}

.logo {
  font-family: Pacifico;
  padding-bottom: 5px;
}

@font-face {
  font-family: "Pacifico";
  src: url("/fonts/Pacifico-Regular.eot");
  src: url("/fonts//Pacifico-Regular.eot?#iefix") format("embedded-opentype"),
    url("/fonts/Pacifico-Regular.woff2") format("woff2"),
    url("/fonts/Pacifico-Regular.woff") format("woff"),
    url("/fonts/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Gallery */
.gallery {
  width: 350px;
  height: 220px;
  transition: all 0.2s ease;
}
.gallery:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* Slider */
.slider {
  overflow: hidden;
  height: 500px;
}
